body {
  background-color: whitesmoke;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  overflow: hidden;
  box-sizing: border-box;
}

.button {
  background-color: rgb(227, 108, 215);
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: 400;
  padding: 4px 10px;
  cursor: pointer;
  width: fit-content;
}

button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

a {
  text-decoration: none;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  font-weight: 600;
  font-size: 30px;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
  font-weight: 500;
}
nav ul li:hover {
  text-decoration: underline;
  font-weight: bold;
  color: rgb(238, 18, 18);
}

.search_field {
  display: flex;
  gap: 30px;
}
input {
  padding: 4px 10px;
}

section {
  display: flex;
  align-items: center;
}
.left-side-context h1 {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 700;
}

.left-side-context h1 span {
  color: #179f72;
  font-weight: 900;
  font-size: 2.5 rem;
}
.left-side-context p {
  font-weight: 500;
}

.left-side-context p span {
  font-weight: 700;
  color: #1aa979;
  font-size: 25px;
}

.right-side-context {
  display: flex;
  width: 40%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.right-side-context img {
  height: 300px;
  width: 350px;
  border-radius: 50%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0px;
  margin: 20px;
}
.footer p {
  font-weight: 600;
}
.footer ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
